.mat-toolbar {
    background:black;
    color: white;

}
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    text-align: justify;
    flex: 1 1 auto;

  }


 