.login-container {
    height: auto;
    width: auto;
    padding-left: 162px;
    align-content: center;
    align-items: center;
    display: flex;
}

body {
    background-image: url("menu-restaurant-vintage-table.jpg");
    background-size: cover;
    background-color: #cccccc;
    height: 800px;
    background-position: center;
}

form {
    width: 100%;
}

.login-content {
    height: 150px;
    width: 500px;
    display: block;
    margin: 110px 500px auto;
}

.login-toolbar {
    justify-content: center;
    height: 100px;
}

.mat-form-field {
    width: 100%;
    display: block;
}

.mat-raised-button {
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

.req:after {
    content: " *";
    color: red;
}