.register-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  body  {
    background-image: url("menu-restaurant-vintage-table.jpg");
    background-size: cover;
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
  }
  form {
    width: 100%;
  }
  
  .login-content {
    width: 500px;
    display: block;
    margin: 25px 50px auto;
  }
  
  .login-toolbar {
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  
  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }