<body>
  <div class="navbar">
    <a routerLink="/login">Logout</a>
    <div class="dropdown">
      <button class="dropbtn">Profile 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
  </div>
<div>


    <mat-card>
      <form [formGroup]="createForm" class="create-form">

                <mat-form-field class="field-full-width">
                    <mat-label color=blue> Search </mat-label>
                    <input align="start" matInput  formControlName="find" #find>
                  </mat-form-field>

                  <br><br>

                <mat-form-field  class="field-full-width">
                    <mat-label color=blue> Location </mat-label>
                    <input align="start" matInput  formControlName="where" #where>

                  </mat-form-field>

                  <br><br>

                <mat-divider></mat-divider>
                  <br><br>

                <button type="submit" (click)="findPlaces(find.value,  where.value)"  mat-raised-button >
                    search
                    &nbsp; &nbsp; &nbsp;
                    <mat-icon>search</mat-icon>
                </button>



      </form>
    </mat-card>
  </div>
</body>
